:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

main {
  display: flex;
  padding-block: 20px;
}

.library {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 25px;
  min-width: 900px;
}

.book-cover {
  width: 200px;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
}

.card {
  padding: 10px;
  background-color: #333333;
  border-radius: 25px;
}

.card p {
  width: fit-content;
  margin: 0 auto;
}